body{
    font-size: large;
    font-weight: 200;
    height: 100vb;
    display: flex;
    background-color: rgb(234, 226, 218);
    justify-content: center;
    align-items: center;
}

.stopwatch-container
{
    background-color: bisque;
    box-shadow: 0 0 20px rebeccapurple;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 70px;
    padding-right: 70px;
}

h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(35, 49, 78);
}

.display
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-display: block;
    font-size: 40px;
    padding: 10px;
}

.buttons button
{
 color: brown;
 border-radius: 20px;
 padding: 10px;
 font-family: 'Courier New', Courier, monospace;
 font-weight: bold;
 cursor: pointer;
 font-size: 20px;
 width:100px;
 height:50px;
}

#start
{
    color:bisque;
    background-color: green;
}

#stop
{
    color:beige;
    background-color: red;
}

#reset
{
    color: beige;
    background-color: gray;
}

#lap
{
    background-color: #8bbbef;
    color: beige;
}